@import "../../theme/variables";
page-login {
  /*.background{
    background: #9CADCE;*/
  }
  .infoInput{
    background: #FFFFFF;
  }
  .skipButton{
  padding: 15px 32px;
  text-align: center;
  }
