@import "../../theme/variables";

page-list-master {

}

.botmessage{
  border-radius: 20px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.header{
margin: 0px;
padding: 0px;
}

.usermessage{
  border-radius: 20px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;

}

.textInput{
  border-radius: 10px;
}

.nR{
  color: map-get($colors, secondary);
  background-color: map-get($colors, primary);
}

.R{
  color: map-get($colors, primary);
  background-color: map-get($colors, secondary);
}

.inviRow{
  background-color: #03a9f4;
  height: 10px;
}
.noRow{
  height: 0px;
}
