<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="gear"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row *ngFor="let message of currentMessages">
        <div col-9>
          <button class="botmessage" *ngIf="message.name === 'CleverBot'" ion-item (click)="playSpeech($event, message)" color="primary">
            <h3>{{message.name}}</h3>
            <h2>{{message.content}}</h2>
          </button>
        </div>
        <div col-9 offset-3>
          <button col-9 class="usermessage"  *ngIf="message.name !== 'CleverBot'" ion-item (click)="playSpeech($event, message)" color="secondary">
            <h3 >{{message.name}}</h3>
            <h2>{{message.content}}</h2>
          </button>
        </div>
    </ion-row>
    <ion-col width-50 style="text-align: center">
      <button ion-button (click)= "listenForSpeech()"><ion-icon name="mic"></ion-icon></button>
    </ion-col>
  </ion-grid>

</ion-content>


<!--<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <button ion-button (click)= "listenForSpeech()"><ion-icon name="mic"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
