<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>SpeakBot</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="addLanguageActionSheet()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentLanguageActionSheet()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row *ngFor="let message of currentMessages">
        <div col-9 *ngIf="message.name === 'Cleverbot'">
          <button class="botmessage"  ion-item text-wrap (click)="translate(message)" on-hold="revertConversation(message)" color="primary">
            <h3>{{message.name}}</h3>
            <h2>{{message.content}}</h2>
            <h2 *ngIf="message.isTranslated">Translation: {{message.translation}}</h2>
          </button>
        </div>
        <div col-9 offset-3 *ngIf="message.name !== 'Cleverbot'">
          <button col-9 class="usermessage"   ion-item text-wrap (click)="translate(message)" color="secondary">
            <h3>{{message.name}}</h3>
            <h2>{{message.content}}</h2>
            <h2 *ngIf="message.isTranslated">Translation: {{message.translation}}</h2>
          </button>
        </div>
      </ion-row>
  </ion-grid>


</ion-content>

<ion-fab bottom center color="secondary">
  <button ion-fab [ngClass]= "recording ? 'R' : 'nR'" (click) = "send()"><ion-icon name="mic"></ion-icon></button>
</ion-fab>
