@import "../../theme/variables";

page-list-master {

}

.botmessage{
  border-radius: 20px;
  float: right;
  //color: color($colors, secondary)
}

.usermessage{
  border-radius: 20px;
  float: right;

}

.textInput{
  border-radius: 10px;
}
